@use '@/app/styles/variables';

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: variables.$spacing-unit * 4;
}

.assessmentContent {
    margin-top: variables.$spacing-unit * 4;
} 

.keyboardHelp {
    margin-top: variables.$spacing-unit * 4;
    margin-bottom: variables.$spacing-unit * 4;
    margin-left: variables.$spacing-unit * 4;
}